<div class="jumbotron viewHeight">
  <div class="container">
    <div class="row">
      <div class="col-md-5 offset-md-4 regCard">
          <h3 style="text-align: center; color: #1ca99a;
          border-bottom: 1px solid #ddd; padding-bottom: 15px;">Details of Registered User</h3>
          <div class="form-group">
            <div class="col-md-6" style="text-align:right;">
            <label class="label-style padding5">Your Name  </label>
            <br/>
            <label class="label-style padding5">Date of birth  </label>
            <br/>
            <label class="label-style padding5">Gender  </label>
            <br/>
            <label class="label-style padding5">Reason for job change  </label>
            <br/>
            <label class="label-style padding5">Last salary figure  </label>
            <br/>
            <label class="label-style padding5">Expected Salary  </label>
            <br/>
            <label class="label-style padding5">Technical Expertise  </label>
          </div>
          <div class="col-md-6" style="padding-left : 0px">
              <label class="label-style padding5">: {{ data.name}}</label>
            <br/>
            <label class="label-style padding5">: {{ data.dob }}</label>
            <br/>
            <label class="label-style padding5">: {{ data.gender}}</label>
            <br/>
            <label class="label-style padding5">: {{ data.reasonForChange}}</label>
            <br/>
            <label class="label-style padding5">: {{ data.cctc}}</label>
            <br/>
            <label class="label-style padding5">: {{ data.ectc}}</label>
            <br/>
            <label class="label-style padding5">: {{ data.technicalExpertise}}</label>
            </div>
          </div>

          <div class="form-group">
              <div class="col-md-6">
           
            </div>
            <div class="col-md-6">
           </div>
          </div>

          <div class="form-group">
            
            
          </div>

          <div class="form-group">
            
            
          </div>


          <div class="form-group">
            
            
          </div>

            <div class="form-group">
              
              
            </div>
      </div>
    </div>
  </div>
</div>