.nav-tabs>li>a {
    color: #1ca99a;
    font-size: 20px;
    margin-left: -3px;
    border: 1px solid #1ca99a;
    line-height: 1.42857143;
    background: #ffffff;
    border-radius: 3px;
}

.nav-tabs>li>a.active, .nav-tabs>li>a:focus {
    color: #fff;
    background: #1ca99a;
    border-bottom: 2px solid #1ca99a !important;
}   